*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    font-family: 'Rubik', sans-serif;
}

.container__global{
    display: flex;
    align-items: center;
}

.container{
    height: 80vh ;
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
    padding: 40px 15px;

}

/* login */
.esquerda{
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}

.group__title{
    padding-bottom: 2rem;
}

.icone{
    color: blue;
}

.title__login{
    font-size: 2.5rem;
    color: #2f2f2f;
}

.subtitle__login{
    color: #2f2f2f;
}

.form{
    margin-top: 30px;
}

.form__row {
    position: relative;
    text-align: left;
}

.form__label{
    display: block;
    font-size: 10px;
    color: #2f2f2f;
    text-align: left;
}

.form__input{
    width: 100%;
    height: 30px;
    border: none;
    background-color: lightgray;
    border-radius: 2px;
    padding: 0 40px 0 10px;
    margin-bottom: 15px;
}

.form__icone{
    position: absolute;
    right: 10px;
    top: 36%;
    font-size: 15px;
}

.check-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__chek-box{
    display: flex;
}
.label-checkbox{
    font-size: 15px;
    cursor: pointer;
}

.form__row--buttom{
    margin-top: 50px;
}

.btn {
    align-items: center;
    background: #4d61fc;
    border-radius: 3px;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    padding: 15px 45px;
    transition: .2s;
}

.btn:hover{
    background: #2036de;
    transform: translateY(-2px);
}

.direita{
    background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
}

.titulo__direita{
    font-size: 40px;
}